* {
    box-sizing: border-box;
}

/**
:root,
:root.light {
	--a: rgb(255, 255, 255);
    --b: rgb(245, 245, 245);
    --c: rgb(56, 56, 56);
    --e: rgb(243, 243, 243);
    --hover: rgb(245, 245, 245);
    --pillBG: rgb(247, 247, 247);
    --pillShadowD: rgb(202, 202, 202);
    --pillShadowTop: rgb(255, 255, 255);
    --radius: 60px;
} skipping the theme switching option for now**/

:root,
:root.dark {
    --a: rgb(39, 44, 51);
    --b: rgb(41, 46, 49);
    --c: rgb(221, 221, 221);
    --e: rgb(24, 27, 31);
    --hover: rgb(19, 19, 19);
    --pillBG: rgb(17, 17, 17);
    --pillShadowD: rgb(40, 43, 46);
    --pillShadowTop: rgb(30, 30, 37);
    --radius: 60px;
}

.checkbox {
    opacity: 0;
}

.label {
    width: 47px;
    height: 25px;
    background-color: var(--pillShadowD);
    border-radius: var(--radius);
    position: fixed;
    top: 20px;
    right: 40px;
    transform: scale(1);
}

.ball {
    width: 20px;
    height: 20px;
    background-color: var(--c);
    position: absolute;
    top: 2px;
    left: 2px;
    border-radius: var(--radius);
    transition: transform 0.2s linear;
    background: radial-gradient(circle at 60% 40%, white 1px, rgb(167, 204, 218) 3%, rgb(51, 91, 143) 60%, rgb(66, 60, 12) 100%);
}

.checkbox:checked+.label .ball {
    transform: translateX(24px);
}

a {
    text-decoration: none;
}

body {
    background-color: var(--e);
    transition: background-color 0.2s ease-out;
    font-family: 'Courier New', Courier, monospace;
}

h2 {
    color: var(--c);
    text-shadow: 3px 2px #191919;
    padding: 10px;
    font-size: 30px;
}

h3 {
    color: var(--c);
    padding-top: 40px;
    margin-bottom: 0px;
}

.navbar {
    height: 120px;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}

.subnav {
    z-index: 2;
    display: grid;
    grid-template-columns: 0.1fr 0.1fr 0.1fr 0.1fr;
}

.header {
    color: var(--c);
    font-size: 30px;
    margin-left: 20px;
    margin-top: 30px;
    text-align: left;
    text-size-adjust: auto;
    position: fixed;
    z-index: 10;
    background-color: var(--e);
    padding: 12px;
    border-radius: var(--radius);
    transition: background-color 0.2s ease-out;
}

.card {
    position: relative;
    color: var(--c);
    text-align: center;
    border-radius: var(--radius);
    margin: 30px;
    width: 7rem;
}

.card:hover::before {
    transform: scaleX(1);
    transform-origin: top;
    box-shadow: 0 5px 5px var(--a), 0 0 0 6px var(--a);
}

.card::before {
    transform: scaleX(0);
    transform-origin: bottom;
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    inset: 0 0 0 0;
    background: var(--pillBG);
    z-index: -1;
    transition: transform .1s ease;
    border-radius: var(--radius);
}

.left_col {
    background-color: var(--a);
    width: 100%;
    margin-top: 5px;
    display: inline-block;
    text-align: center;
    border-radius: 5px;
    z-index: 1;
    transition: background-color 0.2s ease-out;
}

.left_col p {
    color: var(--c);
    margin-right: 100px;
    margin-left: 100px;
    margin-top: 40px;
    font-size: medium;
}

.grid_categories {
    padding: 20px;
    display: grid;
    grid-template-columns: 0.05fr 0.05fr;
}

.category {
    position: relative;
    display: inline-block;
    font-size: medium;
    padding: 15px;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
    color: var(--c);
    border-radius: var(--radius);
    z-index: 1;
}

.category:hover::before {
    transform: scaleX(1);
    transform-origin: bottom;
    box-shadow: 0 5px 5px var(--pillShadowD), 0 0 0 5px var(--pillShadowTop);
}

.category::before {
    background-color: var(--pillBG);
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    inset: 0 0 0 0;
    z-index: -1;
    transition: transform .2s ease;
    border-radius: var(--radius);
    transform: scaleX(0);
    transform-origin: bottom;
    box-shadow: 0 5px 5px var(--pillShadowD), 0 0 0 5px var(--pillShadowTop);
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.row {
    columns: 4;
}

.row img {
    width: 100%;
    border-radius: 5px;
    margin-top: 12px;
}

.open-button {
    background-color: var(--e);
    border-radius: var(--radius);
    color: var(--c);
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    position: fixed;
    bottom: 25px;
    right: 30px;
    width: 100px;
}

.chat-popup {
    display: none;
    position: fixed;
    bottom: 0;
    right: 15px;
    z-index: 9;
}

.chat-popup p {
    color: var(--c);
    font-size: large;
    font-weight: bolder;
}

.form-container {
    border-radius: var(--radius);
    max-width: 300px;
    padding: 10px;
    background-color: var(--a);
    color: white;
}


.form-container input {
    width: 100%;
    padding: 10px;
    margin: 5px 0 22px 0;
    border: none;
    background: #f3f3f3;
    color: black;
    resize: both;
    min-height: 10px;
    border-radius: var(--radius);
}

.form-container .btn {
    border-radius: var(--radius);
    background-color: #7e7e7e;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    width: 100%;
    margin-bottom: 10px;
    opacity: 0.8;
}

.form-container .cancel {
    background-color: rgb(214, 64, 64);
}

.form-container .btn:hover, .open-button:hover {
    opacity: 1;
}


.category_nav {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.categorybox {
    padding: 5px;
    margin-top: 20px;
    margin-left: 35%;
    margin-bottom: 10px;
    width: 70px;
    background: var(--e);
    border-radius: var(--radius);
    font-size: small;
    color: var(--c);
    box-shadow: 0 5px 5px var(--pillShadowTop), 0 0 0 4px var(--pillShadowTop);
}

.categorybox:hover {
    background-color: var(--pillBG);
    box-shadow: 0 5px 5px var(--a), 0 0 0 4px var(--a);
}

.tableOfImages:after {
    content: "";
    display: table;
    clear: both;
}


.tableOfImages {
    columns: 2;
    margin: 30px;
}

.tableOfImages img {
    width: 95%;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
}


.backbtn {
    background-color: var(--a);
    border-radius: var(--radius);
    color: var(--c);
    position: sticky;
    left: 50%;
    width: 5rem;
    padding: 10px;
    bottom: 2rem;
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    font-family: 'Courier New', Courier, monospace;
    border: none;
    font-size: medium;
    box-shadow: 0 5px 5px var(--pillShadowTop), 0 0 0 6px var(--pillShadowTop);
}

.backbtn:hover {
    cursor: pointer;
    background-color: var(--hover);
}

@media screen and (min-width: 2000px) {
    .row {
        columns: 9;
    }
}

@media screen and (max-width: 900px) {
    .card {
        font-size: small;
        width: 75px;
        height: 20px;
        position: absolute;
        padding: 0;
        margin-left: 15px;
        margin-right: 15px;
        text-decoration: underline;
    }

    .header {
        top: 5px;
        font-size: larger;
        margin: 10px;
    }

    .subnav {
        margin-top: 10px;
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }

    .left_col {
        padding: 10px;
    }

    .navbar {
        grid-template-columns: 1fr;
        width: 100%;
    }

    .left_col p {
        margin: 0;
        font-size: small;
    }

    .category {
        font-size: small;
        margin: 0;
        padding: 0;
    }

    .grid_categories {
        grid-template-columns: 1fr 1fr;
    }

    .row {
        columns: 1;
    }

    .label {
        margin-top: 10px;
        position: fixed;
        top: 5px;
        right: 13px;
        height: 21px;
        width: 46px;
    }

    .ball {
        height: 17px;
        width: 17px;
    }

    .categorybox {
        font-size: smaller;
        position: relative;
        margin-left: 5px;
    }

    .tableOfImages {
        columns: 1;
        margin-left: 5px;
        margin-right: 5px;
        margin-top: 2px;
        margin-bottom: 2px;
    }

    .tableOfImages img {
        padding: 0;
        border-radius: 2px;
        margin-top: 2px;
        margin-bottom: 2px;
    }
}
